*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/opencv/
/captures
.externalNativeBuild
.cxx
local.properties
/opencv/build
/opencv/build
/.idea/inspectionProfiles/Project_Default.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_5_9_2024_8_58_PM_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_5_9_2024_8_58_PM__Changes_.xml
